body {
  background-image: url(https://www.terazkrosno.pl/images/rrrcontent/images/larges/w-czarnorzekach-powstanie-trzynastometrowa-wieza-widokowa_7429_nsLHbq.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 50px 50px;
  padding: 15px;
  border-radius: 10px;
}
.header h1,
h2 {
  color: rgba(56, 40, 40, 0.918);
}
.img-1 {
  transform: rotateX(147deg) rotateY(148deg) rotateZ(203deg);
}
.img-2 {
  max-width: 200px;
}
.img-2:hover {
  transform: rotateX(41deg);
}
.img-3 {
  transform: scale(0.5) rotate(120deg);
}
.img-4 {
  transform: translateX(-50px) rotate(-25deg) scale(1.2);
}
